In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import *
import seaborn as sns
from matplotlib import rcParams
import datetime as dt

In [2]:
#!curl -O "https://s3.amazonaws.com/tripdata/2018[01-12]-citibike-tripdata.csv.zip"
#!unzip '*.zip'
#!rm *.zip
#files = !ls *.csv #For Ipython only
#df = concat([read_csv(f, header=None,low_memory=False) for f in files], keys=files)

In [2]:
df2 = pd.read_csv('201801-citibike-tripdata.csv')

In [7]:
df2.loc[df2['start station id']==3606]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
702154,277,2018-01-02 06:38:00.9420,2018-01-02 06:42:37.9720,3606,49 Ave & 21 St,40.74252,-73.948852,3124,46 Ave & 5 St,40.747310,-73.954510,31577,Subscriber,1967,1
702155,1132,2018-01-02 07:30:56.2240,2018-01-02 07:49:49.0270,3606,49 Ave & 21 St,40.74252,-73.948852,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,31599,Subscriber,1983,1
702156,326,2018-01-02 08:12:01.4010,2018-01-02 08:17:28.0110,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,32717,Subscriber,1982,1
702157,203,2018-01-02 08:59:11.3530,2018-01-02 09:02:34.9560,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,30489,Subscriber,1992,1
702158,2135,2018-01-02 18:16:18.6640,2018-01-02 18:51:53.9840,3606,49 Ave & 21 St,40.74252,-73.948852,445,E 10 St & Avenue A,40.727408,-73.981420,32121,Subscriber,1959,1
702159,284,2018-01-03 08:14:19.3020,2018-01-03 08:19:03.9880,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,32717,Subscriber,1982,1
702160,504,2018-01-03 09:02:54.4460,2018-01-03 09:11:18.5990,3606,49 Ave & 21 St,40.74252,-73.948852,3112,Milton St & Franklin St,40.729060,-73.957790,32290,Subscriber,1982,1
702161,1080,2018-01-03 09:38:04.0720,2018-01-03 09:56:04.9660,3606,49 Ave & 21 St,40.74252,-73.948852,3103,N 11 St & Wythe Ave,40.721533,-73.957824,31354,Subscriber,1973,2
702162,180,2018-01-03 11:50:56.5150,2018-01-03 11:53:57.4170,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,32928,Subscriber,1992,1
702163,559,2018-01-03 14:57:38.7210,2018-01-03 15:06:58.6550,3606,49 Ave & 21 St,40.74252,-73.948852,3563,28 St & 36 Ave,40.757186,-73.932719,21058,Subscriber,1985,1
702164,1476,2018-01-04 03:29:23.7980,2018-01-04 03:54:00.3420,3606,49 Ave & 21 St,40.74252,-73.948852,3466,W 45 St & 6 Ave (OLD),40.756687,-73.982577,25728,Subscriber,1973,1
702165,284,2018-01-04 08:55:12.2920,2018-01-04 08:59:56.5420,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,29988,Subscriber,1992,1
702166,1245,2018-01-04 17:15:35.2190,2018-01-04 17:36:20.9560,3606,49 Ave & 21 St,40.74252,-73.948852,3092,Berry St & N 8 St,40.719009,-73.958525,32409,Subscriber,1959,1
702167,1288,2018-01-05 14:43:18.4070,2018-01-05 15:04:47.0550,3606,49 Ave & 21 St,40.74252,-73.948852,3093,N 6 St & Bedford Ave,40.717452,-73.958509,25567,Subscriber,1959,1
702168,1118,2018-01-08 06:45:18.3310,2018-01-08 07:03:57.0920,3606,49 Ave & 21 St,40.74252,-73.948852,3141,1 Ave & E 68 St,40.765005,-73.958185,30489,Subscriber,1971,1
702169,373,2018-01-08 08:16:28.0710,2018-01-08 08:22:42.0150,3606,49 Ave & 21 St,40.74252,-73.948852,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,15334,Subscriber,1970,1
702170,280,2018-01-09 08:24:05.8810,2018-01-09 08:28:46.7160,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,31962,Subscriber,1982,1
702171,1820,2018-01-10 06:43:26.9810,2018-01-10 07:13:47.9460,3606,49 Ave & 21 St,40.74252,-73.948852,279,Peck Slip & Front St,40.707873,-74.001670,32891,Subscriber,1970,1
702172,306,2018-01-10 08:24:58.2790,2018-01-10 08:30:05.2580,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,33354,Subscriber,1982,1
702173,981,2018-01-10 08:38:20.5520,2018-01-10 08:54:42.2210,3606,49 Ave & 21 St,40.74252,-73.948852,460,S 4 St & Wythe Ave,40.712859,-73.965903,30391,Subscriber,1979,1
702174,1056,2018-01-10 08:41:24.4040,2018-01-10 08:59:01.1550,3606,49 Ave & 21 St,40.74252,-73.948852,3141,1 Ave & E 68 St,40.765005,-73.958185,30489,Subscriber,1951,1
702175,329,2018-01-10 10:17:19.3660,2018-01-10 10:22:48.7470,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,16820,Subscriber,1980,1
702176,1260,2018-01-11 05:24:20.8870,2018-01-11 05:45:21.1740,3606,49 Ave & 21 St,40.74252,-73.948852,3466,W 45 St & 6 Ave (OLD),40.756687,-73.982577,28929,Subscriber,1973,1
702177,1617,2018-01-11 07:56:39.9460,2018-01-11 08:23:37.5290,3606,49 Ave & 21 St,40.74252,-73.948852,3359,E 68 St & Madison Ave,40.769157,-73.967035,32715,Subscriber,1954,1
702178,352,2018-01-11 08:22:47.1710,2018-01-11 08:28:39.6340,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,29988,Subscriber,1982,1
702179,466,2018-01-11 08:31:47.9140,2018-01-11 08:39:34.0210,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,32387,Subscriber,1967,1
702180,337,2018-01-11 08:35:05.3300,2018-01-11 08:40:42.8130,3606,49 Ave & 21 St,40.74252,-73.948852,3130,21 St & Queens Plaza North,40.753260,-73.943358,20915,Subscriber,1951,1
702181,1246,2018-01-12 05:25:32.7200,2018-01-12 05:46:19.2750,3606,49 Ave & 21 St,40.74252,-73.948852,3466,W 45 St & 6 Ave (OLD),40.756687,-73.982577,26464,Subscriber,1973,1
702182,504,2018-01-12 08:30:31.0460,2018-01-12 08:38:55.3560,3606,49 Ave & 21 St,40.74252,-73.948852,3112,Milton St & Franklin St,40.729060,-73.957790,32532,Subscriber,1982,1
702183,353,2018-01-12 08:38:40.1960,2018-01-12 08:44:33.9530,3606,49 Ave & 21 St,40.74252,-73.948852,3130,21 St & Queens Plaza North,40.753260,-73.943358,17737,Subscriber,1951,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702265,277,2018-01-29 06:46:54.1550,2018-01-29 06:51:31.3030,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,32122,Subscriber,1979,1
702266,322,2018-01-29 08:19:47.5780,2018-01-29 08:25:10.2500,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,31167,Subscriber,1982,1
702267,284,2018-01-29 08:42:53.3840,2018-01-29 08:47:37.3860,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,32359,Subscriber,1967,1
702268,1284,2018-01-29 08:47:44.9790,2018-01-29 09:09:09.0880,3606,49 Ave & 21 St,40.74252,-73.948852,3142,1 Ave & E 62 St,40.761227,-73.960940,27045,Subscriber,1983,1
702269,301,2018-01-29 08:47:45.2790,2018-01-29 08:52:46.8170,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,25051,Subscriber,1961,1
702270,178,2018-01-29 08:50:57.0820,2018-01-29 08:53:55.8810,3606,49 Ave & 21 St,40.74252,-73.948852,3615,44 Dr & 21 St,40.748000,-73.946093,21262,Subscriber,1951,1
702271,267,2018-01-29 08:56:00.9030,2018-01-29 09:00:28.2010,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,29058,Subscriber,1980,1
702272,230,2018-01-29 08:56:29.2540,2018-01-29 09:00:20.0340,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,18877,Subscriber,1992,1
702273,834,2018-01-29 09:37:56.0250,2018-01-29 09:51:50.2630,3606,49 Ave & 21 St,40.74252,-73.948852,3103,N 11 St & Wythe Ave,40.721533,-73.957824,24883,Subscriber,1973,2
702274,1172,2018-01-29 15:05:52.9640,2018-01-29 15:25:25.8700,3606,49 Ave & 21 St,40.74252,-73.948852,3141,1 Ave & E 68 St,40.765005,-73.958185,31167,Subscriber,1989,1
702275,328,2018-01-29 15:38:31.0130,2018-01-29 15:43:59.0740,3606,49 Ave & 21 St,40.74252,-73.948852,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,17914,Subscriber,1985,1
702276,377,2018-01-30 08:24:00.5500,2018-01-30 08:30:18.1590,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,31902,Subscriber,1963,1
702277,1242,2018-01-30 08:43:16.3250,2018-01-30 09:03:59.3220,3606,49 Ave & 21 St,40.74252,-73.948852,3141,1 Ave & E 68 St,40.765005,-73.958185,17266,Subscriber,1951,1
702278,533,2018-01-30 09:04:19.9820,2018-01-30 09:13:13.6190,3606,49 Ave & 21 St,40.74252,-73.948852,3112,Milton St & Franklin St,40.729060,-73.957790,26578,Subscriber,1982,1
702279,369,2018-01-30 09:05:48.6470,2018-01-30 09:11:57.9050,3606,49 Ave & 21 St,40.74252,-73.948852,3120,Center Blvd & Borden Ave,40.741610,-73.960440,32616,Subscriber,1967,1
702280,1600,2018-01-30 09:22:28.2310,2018-01-30 09:49:09.0890,3606,49 Ave & 21 St,40.74252,-73.948852,3142,1 Ave & E 62 St,40.761227,-73.960940,33374,Subscriber,1983,1
702281,1155,2018-01-30 10:03:48.1410,2018-01-30 10:23:03.2030,3606,49 Ave & 21 St,40.74252,-73.948852,3141,1 Ave & E 68 St,40.765005,-73.958185,27182,Subscriber,1989,1
702282,190,2018-01-30 11:01:58.3440,2018-01-30 11:05:08.3760,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,20817,Subscriber,1992,1
702283,311,2018-01-30 12:44:19.6550,2018-01-30 12:49:31.1900,3606,49 Ave & 21 St,40.74252,-73.948852,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,32359,Subscriber,1989,1
702284,2063,2018-01-30 18:18:42.4650,2018-01-30 18:53:06.4550,3606,49 Ave & 21 St,40.74252,-73.948852,445,E 10 St & Avenue A,40.727408,-73.981420,33061,Subscriber,1959,1
702285,634,2018-01-30 19:31:26.3250,2018-01-30 19:42:00.6830,3606,49 Ave & 21 St,40.74252,-73.948852,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,27221,Subscriber,1989,1
702286,598,2018-01-30 19:32:27.6390,2018-01-30 19:42:26.3920,3606,49 Ave & 21 St,40.74252,-73.948852,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,28982,Subscriber,1989,2
702287,1122,2018-01-31 06:57:08.2490,2018-01-31 07:15:50.9560,3606,49 Ave & 21 St,40.74252,-73.948852,3141,1 Ave & E 68 St,40.765005,-73.958185,27171,Subscriber,1971,1
702288,258,2018-01-31 07:09:05.4720,2018-01-31 07:13:23.5290,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,31902,Subscriber,1979,1
702289,338,2018-01-31 07:16:16.6240,2018-01-31 07:21:55.4890,3606,49 Ave & 21 St,40.74252,-73.948852,3122,48 Ave & 5 St,40.744363,-73.955873,15805,Subscriber,1979,1
702290,331,2018-01-31 08:19:06.2990,2018-01-31 08:24:37.9390,3606,49 Ave & 21 St,40.74252,-73.948852,3221,47 Ave & 31 St,40.743000,-73.935610,25024,Subscriber,1982,1
702291,331,2018-01-31 08:30:45.9380,2018-01-31 08:36:17.1760,3606,49 Ave & 21 St,40.74252,-73.948852,3647,48 Ave & 30 Pl,40.741283,-73.937259,31197,Subscriber,1967,1
702292,838,2018-01-31 09:38:14.6810,2018-01-31 09:52:13.4850,3606,49 Ave & 21 St,40.74252,-73.948852,3103,N 11 St & Wythe Ave,40.721533,-73.957824,25051,Subscriber,1973,2
702293,191,2018-01-31 16:30:09.9230,2018-01-31 16:33:21.7110,3606,49 Ave & 21 St,40.74252,-73.948852,3615,44 Dr & 21 St,40.748000,-73.946093,31902,Subscriber,1966,1
702294,486,2018-01-31 22:16:09.9330,2018-01-31 22:24:16.4800,3606,49 Ave & 21 St,40.74252,-73.948852,3112,Milton St & Franklin St,40.729060,-73.957790,32054,Subscriber,1988,1

In [4]:
df2.keys()

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [2]:
jan_df = pd.read_csv('201801-citibike-tripdata.csv')
feb_df = pd.read_csv('201802-citibike-tripdata.csv')
mar_df = pd.read_csv('201803-citibike-tripdata.csv')
apr_df = pd.read_csv('201804-citibike-tripdata.csv')
may_df = pd.read_csv('201805-citibike-tripdata.csv')
jun_df = pd.read_csv('201806-citibike-tripdata.csv')
jul_df = pd.read_csv('201807-citibike-tripdata.csv')
aug_df = pd.read_csv('201808-citibike-tripdata.csv')
sep_df = pd.read_csv('201809-citibike-tripdata.csv')
oct_df = pd.read_csv('201810-citibike-tripdata.csv')
nov_df = pd.read_csv('201811-citibike-tripdata.csv')
dec_df = pd.read_csv('201812-citibike-tripdata.csv')

In [3]:
jan_count = jan_df['gender'].count()
feb_count = jan_df['gender'].count()
mar_count = jan_df['gender'].count()
apr_count = jan_df['gender'].count()
may_count = jan_df['gender'].count()
jun_count = jan_df['gender'].count()
jul_count = jan_df['gender'].count()
aug_count = jan_df['gender'].count()
sep_count = jan_df['gender'].count()
oct_count = jan_df['gender'].count()
nov_count = jan_df['gender'].count()
dec_count = jan_df['gender'].count()

In [4]:
jan_count + feb_count + mar_count + apr_count + may_count + jun_count + jul_count + aug_count + sep_count + oct_count + nov_count + dec_count

8627928

In [11]:
j_gen = pd.DataFrame(jan_df['gender'].value_counts())
f_gen = pd.DataFrame(feb_df['gender'].value_counts())
m_gen = pd.DataFrame(mar_df['gender'].value_counts())
a_gen = pd.DataFrame(apr_df['gender'].value_counts())
my_gen = pd.DataFrame(may_df['gender'].value_counts())
jn_gen = pd.DataFrame(jun_df['gender'].value_counts())
jl_gen = pd.DataFrame(jul_df['gender'].value_counts())
ag_gen = pd.DataFrame(aug_df['gender'].value_counts())
s_gen = pd.DataFrame(sep_df['gender'].value_counts())
o_gen = pd.DataFrame(oct_df['gender'].value_counts())
n_gen = pd.DataFrame(nov_df['gender'].value_counts())
d_gen = pd.DataFrame(dec_df['gender'].value_counts())

In [6]:
total_trip_count = pd.merge(j_gen, f_gen, how="outer", left_index=True, right_index=True)

In [7]:
total_trip_count = pd.merge(total_trip_count, m_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, a_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, my_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, jn_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, jl_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, ag_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, s_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, o_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, n_gen, how="outer", left_index=True, right_index=True)

In [ ]:
total_trip_count = pd.merge(total_trip_count, d_gen, how="outer", left_index=True, right_index=True)

In [8]:
total_trip_count

   gender_x  gender_y  gender
1   1281908    621749  702533
2    469544    181266  212687
0    201651     40099   61452

In [10]:
m_gen

   gender
1  702533
2  212687
0   61452

In [2]:
jan_locs = jan_df[["start station id", "start station latitude", "start station longitude"]]
jan_locs = jan_locs.drop_duplicates()
jan_locs.to_csv("Jan2018.csv")

In [3]:
feb_locs = feb_df[["start station id", "start station latitude", "start station longitude"]]
feb_locs = feb_locs.drop_duplicates()
feb_locs.to_csv("Feb2018.csv")

In [4]:
mar_locs = mar_df[["start station id", "start station latitude", "start station longitude"]]
mar_locs = mar_locs.drop_duplicates()
mar_locs.to_csv("Mar2018.csv")

In [5]:
apr_locs = apr_df[["start station id", "start station latitude", "start station longitude"]]
apr_locs = apr_locs.drop_duplicates()
apr_locs.to_csv("Apr2018.csv")

In [6]:
may_locs = may_df[["start station id", "start station latitude", "start station longitude"]]
may_locs = may_locs.drop_duplicates()
may_locs.to_csv("May2018.csv")

In [7]:
jun_locs = jun_df[["start station id", "start station latitude", "start station longitude"]]
jun_locs = jun_locs.drop_duplicates()
jun_locs.to_csv("Jun2018.csv")

In [8]:
jul_locs = jul_df[["start station id", "start station latitude", "start station longitude"]]
jul_locs = jul_locs.drop_duplicates()
jul_locs.to_csv("Jul2018.csv")

In [9]:
aug_locs = aug_df[["start station id", "start station latitude", "start station longitude"]]
aug_locs = aug_locs.drop_duplicates()
aug_locs.to_csv("Aug2018.csv")

In [10]:
sep_locs = sep_df[["start station id", "start station latitude", "start station longitude"]]
sep_locs = sep_locs.drop_duplicates()
sep_locs.to_csv("Sep2018.csv")

In [11]:
oct_locs = oct_df[["start station id", "start station latitude", "start station longitude"]]
oct_locs = oct_locs.drop_duplicates()
oct_locs.to_csv("Oct2018.csv")

In [12]:
nov_locs = nov_df[["start station id", "start station latitude", "start station longitude"]]
nov_locs = nov_locs.drop_duplicates()
nov_locs.to_csv("Nov2018.csv")

In [13]:
dec_locs = dec_df[["start station id", "start station latitude", "start station longitude"]]
dec_locs = dec_locs.drop_duplicates()
dec_locs.to_csv("Dec2018.csv")

In [17]:
jan_data = pd.read_csv("Jan2018.csv")
feb_data = pd.read_csv("Feb2018.csv")
mar_data = pd.read_csv("Mar2018.csv")
apr_data = pd.read_csv("Apr2018.csv")
may_data = pd.read_csv("May2018.csv")
jun_data = pd.read_csv("Jun2018.csv")
jul_data = pd.read_csv("Jul2018.csv")
aug_data = pd.read_csv("Aug2018.csv")
sep_data = pd.read_csv("Sep2018.csv")
oct_data = pd.read_csv("Oct2018.csv")
nov_data = pd.read_csv("Nov2018.csv")
dec_data = pd.read_csv("Dec2018.csv")

In [18]:
locs_data = pd.merge(jan_data, feb_data, how="outer")

In [19]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [20]:
locs_data = pd.merge(locs_data, mar_data, how="outer")

In [21]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [22]:
locs_data = pd.merge(locs_data, apr_data, how="outer")

In [23]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [24]:
locs_data = pd.merge(locs_data, may_data, how="outer")

In [25]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [26]:
locs_data = pd.merge(locs_data, jun_data, how="outer")

In [27]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [28]:
locs_data = pd.merge(locs_data, jul_data, how="outer")

In [29]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [30]:
locs_data = pd.merge(locs_data, aug_data, how="outer")

In [31]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [32]:
locs_data = pd.merge(locs_data, sep_data, how="outer")

In [33]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [34]:
locs_data = pd.merge(locs_data, oct_data, how="outer")

In [35]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [36]:
locs_data = pd.merge(locs_data, nov_data, how="outer")

In [37]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [38]:
locs_data = pd.merge(locs_data, dec_data, how="outer")

In [40]:
locs_data = locs_data.drop(["Unnamed: 0"], axis=1)
locs_data = locs_data.drop_duplicates()

In [41]:
bike_locs = locs_data.dropna()

In [42]:
bike_locs

     start station id  start station latitude  start station longitude
0                72.0               40.767272               -73.993929
1                79.0               40.719116               -74.006667
2                82.0               40.711174               -74.000165
3                83.0               40.683826               -73.976323
4               119.0               40.696089               -73.978034
5               120.0               40.686768               -73.959282
6               127.0               40.731724               -74.006744
7               128.0               40.727103               -74.002971
8               143.0               40.692395               -73.993379
9               144.0               40.698399               -73.980689
10              146.0               40.716250               -74.009106
11              150.0               40.720874               -73.980858
12              151.0               40.722104               -73.997249
13              152.0               40.714740               -74.009106
14              157.0               40.690893               -73.996123
15              161.0               40.729170               -73.998102
16              164.0               40.753231               -73.970325
17              167.0               40.748901               -73.976049
18              168.0               40.739713               -73.994564
19              173.0               40.760683               -73.984527
20              174.0               40.738177               -73.977387
21              195.0               40.709056               -74.010434
22              212.0               40.743349               -74.006818
23              216.0               40.700379               -73.995481
24              217.0               40.702772               -73.993836
25              223.0               40.737815               -73.999947
26              228.0               40.754601               -73.971879
27              229.0               40.727434               -73.993790
28              232.0               40.695977               -73.990149
29              236.0               40.728419               -73.987140
..                ...                     ...                      ...
789            3036.0               40.662908               -73.999722
790            3687.0               40.743227               -73.974498
791            3688.0               40.757920               -73.966382
792            3689.0               40.799041               -73.966495
793            3691.0               40.764089               -73.910651
794            3692.0               40.699997               -73.974401
795            3153.0               40.768175               -73.959103
796            3690.0               40.713342               -74.009355
797            3693.0               40.722482               -73.959219
798            3695.0               40.726870               -73.989190
799            3697.0               40.775160               -73.989187
800            3699.0               40.763605               -73.989180
801            3700.0               40.779406               -73.953336
802            3701.0               40.708318               -74.005041
869            3705.0               40.728401               -73.999688
878            3704.0               40.743752               -73.941765
897             493.0               40.756800               -73.982912
904            3630.0               40.803865               -73.955931
906            3154.0               40.773142               -73.958562
908            3709.0               40.738046               -73.996430
909            3711.0               40.729667               -73.980680
910            3712.0               40.754692               -73.997402
911            3714.0               40.706842               -73.954435
912            3715.0               40.718170               -73.955201
913            3716.0               40.753599               -73.937956
914             530.0               40.771497               -73.990460
915            3718.0               40.727464               -73.979504
916            3719.0               40.683223               -73.973812
917            3721.0               40.767549               -73.920933
918            3720.0               40.684617               -73.987213

[819 rows x 3 columns]

In [39]:
bike_locs.to_csv("bike_locs.csv")

In [43]:
starts = df2['start station id'].value_counts()

In [44]:
starts = pd.DataFrame(starts)

In [45]:
starts

      start station id
519               8080
435               5093
3255              4852
402               4526
497               4503
490               4281
523               4278
477               4256
285               4223
459               4057
359               3773
379               3652
293               3616
284               3561
492               3487
432               3454
3263              3351
229               3306
505               3305
168               3287
382               3181
504               3147
465               3128
446               3117
499               3112
368               3091
358               3068
3641              3062
457               3031
537               2941
...                ...
2005                65
3629                63
3340                63
3395                57
3525                52
3394                47
3564                45
3554                44
3661                41
3492                39
3468                39
3590                37
3650                35
3333                30
3649                29
3559                29
3631                27
3330                26
3620                25
3596                24
3557                23
3239                11
3512                11
3432                10
3594                 5
3485                 2
428                  1
3662                 1
3488                 1
3250                 1

[763 rows x 1 columns]

In [46]:
starts.keys()

Index(['start station id'], dtype='object')

In [47]:
starts = starts.reset_index()

In [48]:
starts = starts.rename(columns = {"index": "start station id", "start station id": "rides started"})

In [49]:
bike_locs = pd.merge(bike_locs, starts, how="inner", on="start station id")

In [50]:
bike_locs.to_csv("bike_locs.csv")

In [51]:
bike_locs

,start station id,start station latitude,start station longitude,rides started
0,72.0,40.767272,-73.993929,1324
1,79.0,40.719116,-74.006667,1106
2,82.0,40.711174,-74.000165,436
3,83.0,40.683826,-73.976323,685
4,119.0,40.696089,-73.978034,239
5,120.0,40.686768,-73.959282,393
6,127.0,40.731724,-74.006744,2376
7,128.0,40.727103,-74.002971,2208
8,143.0,40.692395,-73.993379,1041
9,144.0,40.698399,-73.980689,205
10,146.0,40.716250,-74.009106,980
11,150.0,40.720874,-73.980858,1139
12,151.0,40.722104,-73.997249,2793
13,152.0,40.714740,-74.009106,840
14,157.0,40.690893,-73.996123,776
15,161.0,40.729170,-73.998102,2228
16,164.0,40.753231,-73.970325,1257
17,167.0,40.748901,-73.976049,1811
18,168.0,40.739713,-73.994564,3287
19,173.0,40.760683,-73.984527,2744
20,174.0,40.738177,-73.977387,1994
21,195.0,40.709056,-74.010434,1517
22,212.0,40.743349,-74.006818,1893
23,216.0,40.700379,-73.995481,228
24,217.0,40.702772,-73.993836,679
25,223.0,40.737815,-73.999947,1183
26,228.0,40.754601,-73.971879,1043
27,229.0,40.727434,-73.993790,3306
28,232.0,40.695977,-73.990149,397
29,236.0,40.728419,-73.987140,2165
...,...,...,...,...
734,3619.0,40.771361,-73.924615,256
735,3620.0,40.751907,-73.947912,25
736,3621.0,40.773983,-73.930913,67
737,3622.0,40.807560,-73.939182,173
738,3623.0,40.810949,-73.963400,256
739,3625.0,40.752576,-73.936428,90
740,3629.0,40.809495,-73.947765,63
741,3631.0,40.666563,-73.956741,27
742,3632.0,40.728049,-73.978812,1942
743,3635.0,40.754623,-73.995168,1522
744,3637.0,40.683239,-73.965996,570
745,3641.0,40.742869,-73.989186,3062
746,3642.0,40.787285,-73.950123,133
747,3643.0,40.752722,-73.981236,1190
748,3644.0,40.675816,-74.014882,163
749,3646.0,40.763155,-73.939855,100
750,3647.0,40.741283,-73.937259,92
751,3648.0,40.697950,-73.970776,361
752,3649.0,40.814394,-73.953247,29
753,3650.0,45.506264,-73.568906,35
754,3653.0,40.758205,-73.928322,128
755,3654.0,40.751870,-73.933493,108
756,3656.0,40.723077,-73.985836,818
757,3658.0,40.743534,-74.003676,1017
758,3659.0,40.742949,-74.004137,849
759,3660.0,40.741022,-74.001385,1092
760,3661.0,40.666439,-73.960556,41
761,3662.0,40.761294,-73.916917,1
762,3663.0,40.677165,-73.973828,206
763,3664.0,40.720195,-74.010301,214

In [17]:
jan_trips = jan_df[["tripduration"]]
feb_trips = feb_df[["tripduration"]]
mar_trips = mar_df[["tripduration"]]
apr_trips = apr_df[["tripduration"]]
may_trips = may_df[["tripduration"]]
jun_trips = jun_df[["tripduration"]]
jul_trips = jul_df[["tripduration"]]
aug_trips = aug_df[["tripduration"]]
sep_trips = sep_df[["tripduration"]]
oct_trips = oct_df[["tripduration"]]
nov_trips = nov_df[["tripduration"]]
dec_trips = dec_df[["tripduration"]]

In [44]:
total_trips1 = jan_trips.append(feb_trips).append(mar_trips).append(apr_trips).append(may_trips).append(jun_trips)

In [46]:
total_trips2 = jul_trips.append(aug_trips).append(sep_trips).append(oct_trips).append(nov_trips).append(dec_trips)

In [48]:
total_trips1.to_csv("total_trips1.csv")
total_trips2.to_csv("total_trips2.csv")

In [52]:
ride_counts = pd.DataFrame(total_trips['tripduration'].value_counts())

In [54]:
ride_counts.to_csv("ride_counts.csv")

In [55]:
ride_counts

         tripduration
319             20820
337             20787
344             20782
311             20779
341             20737
294             20736
335             20720
324             20715
329             20711
348             20695
336             20686
362             20669
300             20668
376             20665
347             20662
333             20656
298             20655
360             20636
323             20634
350             20630
331             20626
303             20620
357             20607
338             20555
326             20554
321             20550
306             20547
325             20543
363             20542
322             20532
...               ...
1634200             1
60553               1
76963               1
889415              1
21502               1
27781               1
54254               1
70614               1
349022              1
21497               1
27782               1
76974               1
44184               1
27779               1
76971               1
175323              1
168893              1
430909              1
76970               1
70607               1
27805               1
21478               1
37881               1
5908437             1
27806               1
21472               1
267112              1
93374               1
21475               1
56426               1

[30640 rows x 1 columns]

In [57]:
jan_trips.to_csv("jan_trips.csv")

In [3]:
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [3]:
jan_df["bikeid"].value_counts()

31453    222
31962    217
32105    215
31623    215
31465    215
33105    214
29984    210
29957    209
32090    207
33447    206
30315    202
32058    200
33133    200
33001    200
32340    200
30544    199
31571    199
32398    199
30203    198
30167    198
30866    198
32861    197
31550    197
32541    196
32384    196
32752    195
32588    195
32556    195
31173    195
32080    194
        ...
21455      1
29858      1
18870      1
19561      1
16659      1
24336      1
18861      1
26384      1
28433      1
16978      1
18848      1
26777      1
27277      1
26898      1
16730      1
18975      1
20901      1
18571      1
20566      1
24899      1
21076      1
15892      1
28344      1
16923      1
18518      1
15292      1
15803      1
17000      1
19892      1
29031      1
Name: bikeid, Length: 10449, dtype: int64

In [19]:
jan_gen = pd.DataFrame(jan_df[["tripduration","gender"]])

In [22]:
jan_gen.head()

   tripduration  gender
0           970       1
1           723       1
2           496       1
3           306       1
4           306       1

In [25]:
jan_men = jan_gen.loc[jan_gen['gender'] == 1, ['tripduration','gender']]

In [26]:
jan_wom = jan_gen.loc[jan_gen['gender'] == 2, ['tripduration','gender']]

In [27]:
jan_men.to_csv("jan_men.csv")

In [28]:
jan_wom.to_csv("jan_wom.csv")

In [3]:
jan_gen = pd.DataFrame(jan_df[["tripduration","gender"]])
feb_gen = pd.DataFrame(feb_df[["tripduration","gender"]])
mar_gen = pd.DataFrame(mar_df[["tripduration","gender"]])
apr_gen = pd.DataFrame(apr_df[["tripduration","gender"]])
may_gen = pd.DataFrame(may_df[["tripduration","gender"]])
jun_gen = pd.DataFrame(jun_df[["tripduration","gender"]])
jul_gen = pd.DataFrame(jul_df[["tripduration","gender"]])
aug_gen = pd.DataFrame(aug_df[["tripduration","gender"]])
sep_gen = pd.DataFrame(sep_df[["tripduration","gender"]])
oct_gen = pd.DataFrame(oct_df[["tripduration","gender"]])
nov_gen = pd.DataFrame(nov_df[["tripduration","gender"]])
dec_gen = pd.DataFrame(dec_df[["tripduration","gender"]])

In [4]:
jan_gen["month"] = "January"
feb_gen["month"] = "February"
mar_gen["month"] = "March"
apr_gen["month"] = "April"
may_gen["month"] = "May"
jun_gen["month"] = "June"
jul_gen["month"] = "July"
aug_gen["month"] = "August"
sep_gen["month"] = "September"
oct_gen["month"] = "October"
nov_gen["month"] = "November"
dec_gen["month"] = "December"

In [5]:
gen_df = jan_gen.append(feb_gen).append(mar_gen).append(apr_gen).append(may_gen).append(jun_gen).append(jul_gen).append(aug_gen).append(sep_gen).append(oct_gen).append(nov_gen).append(dec_gen)

In [6]:
gen_df = gen_df.loc[gen_df['gender'] > 0, ['tripduration','gender', 'month']]

In [7]:
gen_df.head()

   tripduration  gender    month
0           970       1  January
1           723       1  January
2           496       1  January
3           306       1  January
4           306       1  January

In [8]:
gen_df.to_csv("gen_df.csv")

In [11]:
gen_df["month"].value_counts()

August       1771797
October      1753015
June         1751452
September    1704397
July         1702825
May          1625120
November     1193237
April        1184014
December      970297
March         915220
February      803015
January       689395
Name: month, dtype: int64

In [26]:
gen_df["gender"].value_counts()

1    11971322
2     4092462
Name: gender, dtype: int64

In [29]:
gender_rides = pd.DataFrame(gen_df.groupby(['month', 'gender'])['tripduration'].count())

In [31]:
gender_rides.to_csv("gender_rides.csv")

In [6]:
pd.DataFrame(jan_df.groupby(['bikeid', 'start station id'])['start station id'].count())

                         start station id
bikeid start station id
14529  249                              1
       252                              1
       254                              2
       265                              1
       268                              1
       284                              2
       293                              1
       295                              2
       297                              1
       307                              1
       328                              1
       334                              1
       335                              3
       336                              1
       346                              1
       357                              1
       363                              1
       369                              1
       380                              1
       383                              1
       401                              1
       427                              1
       433                              1
       474                              1
       476                              1
       477                              1
       478                              1
       484                              1
       490                              1
       507                              1
...                                   ...
33521  3305                             1
       3329                             1
       3355                             1
       3420                             1
       3435                             1
       3455                             1
       3461                             1
       3576                             1
       3637                             1
33522  260                              1
       264                              1
       281                              1
       334                              1
       346                              1
       446                              1
       458                              1
       459                              1
       461                              1
       477                              1
       482                              1
       484                              1
       522                              1
       534                              1
       3163                             2
       3164                             1
       3175                             2
       3259                             1
       3289                             1
       3466                             1
       3539                             2

[603893 rows x 1 columns]

In [30]:
bikeid_df = pd.DataFrame(jan_df.groupby(['bikeid'])['start station id'].count())

In [11]:
bikeid_df.to_csv("bikeid.csv")

In [33]:
bikeid_df.head()

        start station id
bikeid
14529                 69
14530                 56
14532                  7
14533                 17
14534                 83

In [41]:
bikeid_df_dur = pd.DataFrame(jan_df.groupby(['bikeid'])['tripduration'].mean())

In [43]:
bikeid_df_final = pd.merge(bikeid_df, bikeid_df_dur, how='inner', on='bikeid')

In [16]:
bikeid_df.nlargest(10, 'start station id')

        start station id
bikeid
31453                222
31962                217
31465                215
31623                215
32105                215
33105                214
29984                210
29957                209
32090                207
33447                206

In [17]:
bikeid_df.count()

start station id    10449
dtype: int64

In [44]:
bikeid_df_final.to_csv("bikeid.csv")

In [45]:
bikeid_df_final['tripduration'].max()

4421929.0

In [52]:
bikeid_df_final

        start station id  tripduration
bikeid
14529                 69    812.971014
14530                 56    666.964286
14532                  7    461.000000
14533                 17    413.941176
14534                 83    708.469880
14535                  2    719.500000
14536                 55    574.800000
14537                 80   1890.637500
14539                 82    670.878049
14540                 42    631.833333
14544                 12    620.500000
14545                 51    762.333333
14547                 72    639.958333
14548                  4    805.500000
14549                 54    707.370370
14550                 62    896.790323
14551                 93    589.053763
14552                  1    631.000000
14553                 36    646.861111
14555                 85    624.082353
14556                 64    918.828125
14558                 73    601.191781
14559                 20    492.850000
14561                 86    667.104651
14562                 18    646.833333
14563                 16    662.312500
14565                 53   1129.830189
14566                 41   2056.975610
14567                 58    723.051724
14568                 44    812.181818
...                  ...           ...
33444                111    621.945946
33445                125    591.024000
33446                106    741.207547
33447                206    648.533981
33448                 93    565.602151
33449                136    737.742647
33450                 16    442.000000
33451                107    788.121495
33452                126    721.730159
33453                 53    499.943396
33454                147    678.510204
33455                146    610.904110
33456                136    721.323529
33457                 76    680.684211
33458                125    669.360000
33459                180    652.127778
33460                 96    651.708333
33462                 98    714.336735
33464                138    636.398551
33465                182    758.203297
33466                108    710.888889
33467                 63    584.460317
33468                121    793.545455
33469                 78    587.589744
33473                135    555.103704
33481                 56    612.732143
33518                  1    418.000000
33519                 87    684.988506
33521                 60    619.500000
33522                 24    750.375000

[10449 rows x 2 columns]

In [54]:
bikeid_df_final = bikeid_df_final.loc[bikeid_df_final['tripduration'] < 3600]

In [55]:
bikeid_df_final

        start station id  tripduration
bikeid
14529                 69    812.971014
14530                 56    666.964286
14532                  7    461.000000
14533                 17    413.941176
14534                 83    708.469880
14535                  2    719.500000
14536                 55    574.800000
14539                 82    670.878049
14540                 42    631.833333
14544                 12    620.500000
14545                 51    762.333333
14547                 72    639.958333
14548                  4    805.500000
14549                 54    707.370370
14550                 62    896.790323
14551                 93    589.053763
14552                  1    631.000000
14553                 36    646.861111
14555                 85    624.082353
14556                 64    918.828125
14558                 73    601.191781
14559                 20    492.850000
14561                 86    667.104651
14562                 18    646.833333
14563                 16    662.312500
14565                 53   1129.830189
14567                 58    723.051724
14568                 44    812.181818
14570                 41    833.439024
14572                 30    969.533333
...                  ...           ...
33444                111    621.945946
33445                125    591.024000
33446                106    741.207547
33447                206    648.533981
33448                 93    565.602151
33449                136    737.742647
33450                 16    442.000000
33451                107    788.121495
33452                126    721.730159
33453                 53    499.943396
33454                147    678.510204
33455                146    610.904110
33456                136    721.323529
33457                 76    680.684211
33458                125    669.360000
33459                180    652.127778
33460                 96    651.708333
33462                 98    714.336735
33464                138    636.398551
33465                182    758.203297
33466                108    710.888889
33467                 63    584.460317
33468                121    793.545455
33469                 78    587.589744
33473                135    555.103704
33481                 56    612.732143
33518                  1    418.000000
33519                 87    684.988506
33521                 60    619.500000
33522                 24    750.375000

[10287 rows x 2 columns]